
<div class="container d-flex justify-content-center">
  <div class="card mt-5 pb-5">
    <div class="d-flex flex-row justify-content-center p-3 adiv text-white">
    <!----  <i class="fas fa-chevron-left"></i>  -->
      <span class="pb-3">feedback</span>
   <!----- <i class="fas fa-times"></i>   -->
    </div>
    <div class="mt-2 p-4 text-center">
      <h3 class="mb-0">Your feedback help us to improve.</h3>
      <h5 class="px-3"><b>Please let us know about your chat experience.</b></h5>
      <div class="d-flex flex-row justify-content-center mt-2">
        <div class="container">
          <div class="item">
            <label for="0">
            <input class="radio" type="radio" name="feedback" id="0" value="0">
            <span>🤬</span>
          </label>
          </div>
      
          <div class="item">
            <label for="1">
            <input class="radio" type="radio" name="feedback" id="1" value="1">
            <span>🙁</span>
          </label>
          </div>
      
          <div class="item">
            <label for="2">
            <input class="radio" type="radio" name="feedback" id="2" value="2">
            <span>😶</span>
          </label>
          </div>
      
          <div class="item">
            <label for="3">
            <input class="radio" type="radio" name="feedback" id="3" value="3">
            <span>😁</span>
          </label>
          </div>
      
          <div class="item">
            <label for="4">
            <input class="radio" type="radio" name="feedback" id="4" value="4">
            <span>😍</span>
          </label>
          </div>
      
        </div>
      </div>
      
      <div class="form-group mt-4">
       <textarea class="form-control" rows="4" placeholder="Message"></textarea>
      </div>
      <div class="mt-2">
        <button type="button" (click)="Feedback()" ><span>Send feedback</span></button>
      </div>
     
    </div>
  </div>
