

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
</head>
<body title="aboutus page">
  <section class="about-us">
    <div class="about">
      
      <div class="text">
        <h2>About Us</h2><br>
        <h5>Restaurant Management System</h5>
        
         <p>In this project,we can add your restaurant and also we can add some properties in restaurant likes RestaurantName,ownerName,Rating,FoodType and location  whatother things we can add in the restaurant.As an admin you can view your restaurant activity and you can also manage them that is my projct .and also this project is performing all the crud operations like,create,update,delete and view functions of every restaurant   </p>
      </div><br>
      <div class="image">
        <img [src]="'/assets/images/images5.jpg'">
      </div>
    </div>
  </section>
  
</body>
</html>
