<body>
    <div class="box">
<h3> View Restaurant Details</h3>
<div >
    <div>
        <label> <b> restaurantName: </b></label> {{restaurant.restaurantName}}
    </div>
    
    <div>
        <label> <b> ownerName: </b></label> {{restaurant.ownerName}}
    </div>
    <div>
        <label> <b> foodType: </b></label> {{restaurant.foodType}}
    </div>
    <div>
        <label> <b> rating: </b></label> {{restaurant.rating}}
    </div>
    <div>
        <label> <b> location: </b></label> {{restaurant.location}}
    </div>
</div>
    </div>
</body>   