<div class="container">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="our-team">
        <div class="picture">
          <img class="img-fluid" src=".\assets\images\2021-03-07-17-40-35-849.jpg" >
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        </div>
        <div class="team-content">
          <h2 class="name">kalaivani</h2>
          <h4 class="title"><b>FullStack Developer</b></h4>
          <h5>Skill</h5>
          <span>Java Mysql Hibernate SpringBoot </span>
           
        </div>
        <ul class="social">
          <div class="col">
            <a href= "https://www.facebook.com" target="_blank" class="px-2">
              <i class="fa fa-facebook fa-fw"></i> 
            </a>
            <a href="https://www.google.com" target="_blank" class="px-2"  >
              <i class="fa fa-google fa-fw"></i> 
            </a>
            <a href="https://www.instagram.com" target="_blank" class="px-2"  >
              <i class="fa fa-instagram fa-fw"></i> 
            </a>
     </div>
         
        </ul>
      </div>
    </div>
        