<body>
<div class="box">
<div class="col-md-6 offset-md-3">
    <h3> Create Restaurant </h3>
    <form (ngSubmit) = "onSubmit()">
        
     <div class="form-group">
            <label><b> restaurantName</b></label>
           <input type="text" class ="form-control" id = "restaurantName"  placeholder="enter the restaurantName"
            [(ngModel)] = "restaurant.restaurantName" name = "restaurantName" maxlength="15">               
    </div>
               <div class="form-group">
                       <label><b> ownerName</b></label>
                       <input type="text" class ="form-control" id = "ownerName" placeholder="enter the ownerName"
                       [(ngModel)] = "restaurant.ownerName" name = "ownerName" maxlength="15">
               </div>
            
              <div class="form-group">
                      <label><b>foodType </b></label>
                      <input type="text" class ="form-control" id = "foodType" placeholder="enter the foodType"
                      [(ngModel)] = "restaurant.foodType" name = "foodType" >

                     
              </div>
            
                <div class="form-group">
                        <label><b>rating</b> </label>
                        <input type="text" class ="form-control" id = "rating" placeholder="enter the rating"
                        [(ngModel)] = "restaurant.rating" name = "rating">
                </div>
                    
               <div class="form-group">
                        <label><b>location</b> </label>
                        <input type="url" class ="form-control" id = "location" placeholder="enter the location"
                        [(ngModel)] = "restaurant.location" name = "location">
            </div>
              
                
    
        <button class = "btn btn-success" type ="submit">Submit</button>
        
    </form>
    </div> 
</div>
</body>